<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Name</th>
    <th>Favorite Game</th>
    <th>Action</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.favorite_game %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>

<script src="https://d3js.org/d3.v3.min.js"></script>

<!-- adding data to the #user-signups div -->
<%= content_tag :div, id: "bar-chart", data: {user_signups: @data} do %><% end %>

<%= javascript_include_tag "barChart"  %>
