
<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Name</th>
    <th>Favorite Game</th>
    <th>Action</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.favorite_game %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
    </tr>
  <% end %>

</table>
