<style>
  .axis {
    font: 10px sans-serif;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
</style>

<table>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Name</th>
    <th>Favorite Game</th>
    <th>Action</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.favorite_game %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>

<div id="user-signups" class="bar-chart" >
  <!-- using d3 to append the bar chart to this element -->
</div>

<%= content_tag :div, id: "bar-chart", data: {user_signups: @data} do %>
<% end %>

<script src="http://d3js.org/d3.v3.min.js"></script>
<!-- <script src="https://d3js.org/d3.v4.min.js"></script> -->

<%= javascript_tag do %>

<% end %>
